@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1e1e2e;
        --color: #cdd6f4;
        --surface0: #313244;
        --surface1: #45475a;
        --accent: #89b4fa;
    }
}

html {
    font-family: Itim, sans-serif;
}

body {
    background-color: var(--background);
    color: var(--color);
}
