---
const CurrentYear = new Date().getFullYear()
const YearText = CurrentYear == 2023 ? CurrentYear : `2023 - ${CurrentYear}`
---

<footer>
    <p>
    Made with ❤️ & 😭 | &copy; {YearText} Ometic
    </P>
</footer>

<style>
    footer {
        width: 100%;
        margin-top: auto;
        display: flex;
        justify-content: center;
    }
</style
